<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067370747086-lmjl037gucl353brpt3q8ivtjm5r6kh8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067370747086-lmjl037gucl353brpt3q8ivtjm5r6kh8</string>
	<key>API_KEY</key>
	<string>AIzaSyBcAkLNAp6qAf14EVEn58FjvbwAaiGB0FY</string>
	<key>GCM_SENDER_ID</key>
	<string>1067370747086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loopkit.loopit</string>
	<key>PROJECT_ID</key>
	<string>loop-121ba</string>
	<key>STORAGE_BUCKET</key>
	<string>loop-121ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067370747086:ios:fc8f5bc78633f5af1aec9f</string>
	<key>DATABASE_URL</key>
	<string>https://loop-121ba.firebaseio.com</string>
</dict>
</plist>